## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.pidb
*.booproj
*.svd
*.userprefs
*.publishsettings
*.lock.json
project.lock.json
artifacts/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db
desktop.ini